.about-background-image{
	width: 100%;
	height: 640px;
}

.line-decoration-one {
	display: block;
	height: 1px;
	border-bottom: 1px solid #ffffff;
	width: 34%;
	margin: 0 auto;
	opacity: 0.5;
	margin-top: 10px;
	margin-bottom: 10px;
}

.introduction-div {
	position: absolute;
	width: 370px;
	top: 250px;
	left: 36%;
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.my-name {
	position: absolute;
	color: #ffc722;
	top: 260px;
	left: 40%;
	font-size: 50px;
}

.my-slogan {
	position: absolute;
	color: white;
	top: 380px;
	left: 31%;
	font-size: 20px;
}

.about-me-section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: #383838;
}

.brief-introduction-text {
	width: 70%;
	text-align: justify;
	margin: 90px 30px 0 30px;
	color: white;
	font-size: 20px;
	line-height: 25px;
}

.profile-picture {
	width: 30%;
	height: auto;
}

.profile-picture img {
	width: 100%;
	height: 360px;
}

.highlight-word {
	color: #ffc722;
}

.about-my-personal-work {
	width: 100%;
	height: 300px;
	background-color: #A9A9A9;
}

.about-my-personal-work h2 {
	color: black;
	font-size: 40px;
	margin-top: 2px;
	padding-top: 29px;
}

.about-my-personal-work h2::after {
	content: '';
	display: block;
	height: 5px;
	border-bottom: 2px solid #585858;
	width: 14%;
	margin: 0 auto;
	opacity: 0.5;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer {
	width: 100%;
	height: 360px;
	background-color: black;
	color: white;
	font-size: 20px;
	margin-top: 2px;
}

.footer-text {
	width: 600px;
	margin: auto;
	padding-top: 70px;
	color: white;
	font-size: 22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.line-decoration-footer {
	display: block;
	height: 1px;
	border-bottom: 1px solid #ffffff;
	width: 18%;
	margin: 0 auto;
	opacity: 0.5;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-connect {
	width: 90px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 45%;
	margin-top: 40px;
}

.LinkedInLogo {
	width: 50%;
	height: 40px;
	margin-right: 30px;
	cursor: pointer;
}

.EmailLogo {
	width: 50%;
	height: 40px;
	cursor: pointer;
}