.clinic-project-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.clinic-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-clinic {
	width: 100%;
}

.introduction-clinic-project {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 90%;
	padding: 7px;
	border: 3px solid #ffc722;
	text-align: center;
}

.introduction-clinic-project p {
	color: #ffc722;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
}

.description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}


.project-detail {
	width: 100%;
	background-color: grey;
	padding-bottom: 110px;
}

