.triangle-one {
	width: 0;
	height: 0;
	transform: rotate(33deg);
	top: -68px;
	left: -187px;
	position: absolute;
	border-left   : 165px solid transparent;
	border-right  : 300px solid transparent;
	border-bottom : 170px solid rgba(128, 128, 128, 0.35);
}

.triangle-one::before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 4px;
	left: -157px;
	border-left: 157px solid transparent;
	border-right: 293px solid transparent;
	border-bottom: 163px solid black;
}

.triangle-two {
	width: 0;
	height: 0;
	transform: rotate(-141deg);
	top: 268px;
	left: -392px;
	position: absolute;
	border-left: 139px solid transparent;
	border-right: 181px solid transparent;
	border-bottom: 134px solid rgba(128, 128, 128, 0.35);
}

.triangle-two::before {
	content: "";
	width: 0;
	height: 0;
	top: 4px;
	left: -130px;
	position: absolute;
	border-left: 129px solid transparent;
	border-right: 170px solid transparent;
	border-bottom: 126px solid black;
}

.triangle-three {
	width: 0;
	height: 0;
	transform: rotate(9deg);
	top: 272px;
	left: 227px;
	position: absolute;
	border-left: 165px solid transparent;
	border-right: 300px solid transparent;
	border-bottom: 170px solid rgba(128, 128, 128, 0.35);
}

.triangle-three::before {
	content: "";
	width: 0;
	height: 0;
	top: 3px;
	left: -163px;
	position: absolute;
	border-left: 163px solid transparent;
	border-right: 287px solid transparent;
	border-bottom: 164px solid black;
}

.triangle-four {
	width: 0;
	height: 0;
	transform: rotate(-76deg);
	top: -38px;
	left: 577px;
	position: absolute;
	border-left: 49px solid transparent;
	border-right: 191px solid transparent;
	border-bottom: 99px solid rgba(128, 128, 128, 0.35);
}

.triangle-four::before {
	content: "";
	width: 0;
	height: 0;
	top: 4px;
	left: -44px;
	position: absolute;
	border-left: 45px solid transparent;
	border-right: 177px solid transparent;
	border-bottom: 92px solid black;
}

.line-one {
	border: 1px solid #0cd0f2;
	width: 778px;
	transform: rotate(-34deg);
	position: absolute;
	top: 191px;
	left: -131px;
}

.line-two {
	border: 1px solid #ffc722;
	width: 644px;
	transform: rotate(-55deg);
	position: absolute;
	top: 191px;
	left: -107px;
}

.line-three {
	border: 1px solid #467fd7;
	width: 1103px;
	transform: rotate(13deg);
	position: absolute;
	top: 186px;
	left: -307px;
}

.middle-shape {
	width: 35%;
	height: 500px;
	text-align: center;
	margin: 0 auto 0 auto;
	position: relative;
}

.diamond-shape {
	width: 385px;
	height: 385px;
	background-color: black;
	position: absolute;
	border: 5px solid #ffc722;
	left: 50%;
	margin-left: -192px;
	z-index: 10;
}

.diamond-shape::after {
	content: "";
	width: 327px;
	height: 327px;
	background-color: black;
	position: absolute;
	top: 25px;
	left: 25px;
	border: 3px solid #ffc722;
	z-index: -1;
}

.greeting-text {
	color: white;
	transform: rotate(-45deg);
	position: absolute;
	top: 95px;
	left: 72px;
	font-size: 30px;
	margin: 0;
}

.diamond-shape h2 {
	color: #03a8f0;
	position: absolute;
	font-size: 40px;
	top: 106px;
	left: 28px;
	transform: rotate(-45deg);
}

.home-description {
	color: white;
	font-style: italic;
	transform: rotate(-45deg);
	position: absolute;
	top: 179px;
	left: 95px;
}

.square-shape {
	width: 385px;
	height: 385px;
	background-color: black;
	position: absolute;
	border: 5px solid #177DEB;
	left: 50%;
	margin-left: -192px;
	background-image: url("../Assets/images/star_background.gif");
}

/*rotate diamond shape*/
.rotate-first {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}