.portfolio-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.first-project {
	width: 17%;
	height: 600px;
	margin-top: 2%;
	margin-left: 2%;
	border: 3px solid #ffc722;
	position: relative;
}

.second-project {
	width: 17%;
	height: 600px;
	margin-top: 2%;
	margin-left: 2%;
	border: 3px solid #467fd7;
	position: relative;
}

.third-project {
	width: 17%;
	height: 600px;
	margin-top: 2%;
	margin-left: 2%;
	border: 3px solid #ffc722;
	position: relative;
}

.fourth-project {
	width: 17%;
	height: 600px;
	margin-top: 2%;
	margin-left: 2%;
	border: 3px solid #467fd7;
	position: relative;
}

.fifth-project {
	width: 17%;
	height: 600px;
	margin-top: 2%;
	margin-left: 2%;
	border: 3px solid #ffc722;
	position: relative;
}

.project-info-top {
	width: 100%;
	height: 50%;
}

.project-info-bottom {
	width: 100%;
	height: 50%;
}

.overlay-bottom {
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 50%;
	transition: .9s ease;
}

.overlay-top {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	background-color: #467fd7;
	overflow: hidden;
	width: 100%;
	height: 50%;
	transition: .9s ease;
}

.second-project:hover .overlay-top {
	height: 50%;
	top: 0;
}

.fourth-project:hover .overlay-top {
	height: 50%;
	top: 0;
}

.first-project:hover .overlay-bottom {
	bottom: 0;
	height: 50%;
}

.third-project:hover .overlay-bottom {
	bottom: 0;
	height: 50%;
}

.fifth-project:hover .overlay-bottom {
	bottom: 0;
	height: 50%;
}

.project-image-top {
	width: 100%;
	height: 50%;
	overflow: hidden;

}

.project-image-top img {
	width: 100%;
	height: 100%;
	transition: transform .5s;
}

.first-project:hover img {

}

.third-project:hover img {
	transform: scale(1.1);
}

.fifth-project:hover img {
	transform: scale(1.1);
}

.project-image-bottom {
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.project-image-bottom img {
	width: 100%;
	height: 100%;
	transition: transform .5s;
}

.second-project:hover img {
	/*transform: scale(1.1);*/
}

.fourth-project:hover img {
	transform: scale(1.1);
}

/*project description*/
.project-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*height: 100%;*/
	/*justify-content: space-around;*/
	/*position: relative;*/
	/*transform: rotate(-90deg);*/
}

.project-number {
	color: #ffc722;
	border-bottom: 3px solid #ffc722;
	height: 30px;
	width: 30px;
	margin: 20px 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

.project-number-blue {
	color: #467fd7;
	border-bottom: 3px solid #467fd7;
	height: 30px;
	width: 30px;
	margin: 20px 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

.project-name {
	color: white;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 70px;
}

.project-number-top {
	color: #ffc722;
	border-bottom: 3px solid #ffc722;
	height: 30px;
	width: 30px;
	margin: 20px 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

.project-number-top-blue {
	color: #467fd7;
	border-bottom: 3px solid #467fd7;
	height: 30px;
	width: 30px;
	margin: 20px 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

.project-name-top {
	color: white;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 70px
}

.project-content-top button{
	margin-top: 30px;
	height: 40px;
	width: 100px;
	color: #467fd7;
	font-size: 15px;
	font-weight: bold;
	border: 3px solid #ffc722;
	background-color: black;
}

.project-content-top button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.project-content button {
	margin: 30px auto 0 auto;
	height: 40px;
	width: 100px;
	/*color: #467fd7;*/
	color: #ffc722;
	font-size: 15px;
	font-weight: bold;
	/*border: 3px solid #ffc722;*/
	border: 3px solid #467fd7;
	background-color: black;
}

.project-content button:hover {
	transform: scale(1.1);
	cursor: pointer;
}