.recipe-container {
	width: 100%;
}

.recipe-project-top-section {
	width: 100%;
	height: auto;
	position: relative;
}

.video-bg-recipe {
	width: 100%;
	height: 724px;
}

.introduction-recipe-project {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 90%;
	padding: 7px;
	border: 3px solid #467fd7;
}

.introduction-recipe-project p {
	color: #467fd7;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
}

.recipe-description {
	width: 100%;
	position: relative;
}

.recipe-description h2 {
	font-family: serif;
	margin: 75px auto 0 auto;
	font-size: 50px;
	letter-spacing: 20px;
}

.recipe-description .recipe-divider {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 10px auto 0 auto;
}

.recipe-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.sub-description-recipe {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 35%;
	margin: 0 auto 75px auto;
}

.sub-description-recipe ul {
	margin-top: 100px;

}

.sub-description-recipe ul span {
	color: #467fd7;
	border-bottom: 1px solid #467fd7;
}

.sub-description-recipe li {
	list-style: none;
	margin-top: 20px;
	font-weight: bold;
}

.recipe-project-detail {
	width: 100%;
	height: auto;
	background-color: #47b1e6;
}

.recipe-demo-homepage {
	height: auto;
	width: 100%;
}

.recipe-demo-homepage img {
	height: 100%;
	width: 70%;
	margin-top: 110px;
	box-shadow: 5px 10px 18px #888888;
}

.page-label-description {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 100%;
	margin-left: -10px;
}

.page-label-one-description {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 100%;
	margin-left: -30px;
}

.recipe-demo-two-homepage {
	width: 100%;
	height: 700px;
}

.recipe-demo-two-homepage img {
	width: 70%;
	height: auto;
	margin-top: 110px;
	box-shadow: 5px 10px 18px #888888;
}

.page-label-two-description {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 37%;
	margin-left: -30px;
}

.the-end-div {
	width: 100%;
	height: 300px;
	background: white;
	display: flex;
	justify-content: center;
}

.the-end-div span {
	font-size: 80px;
	letter-spacing: 60px;
	margin: 100px 0 0 63px;
}

.other-projects {
	margin-top: 20px;
	width: 100%;
}

