.recipe-container {
	width: 100%;
}

.recipe-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-recipe {
	width: 100%;
}

.introduction-recipe-project {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 90%;
	padding: 7px;
	border: 3px solid #467fd7;
}

.introduction-recipe-project p {
	color: #467fd7;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
	text-align: center;
}

.recipe-description {
	width: 100%;
	position: relative;
	background-color: white;
	text-align: center;
}

.recipe-description h2 {
	font-family: serif;
	margin: 0 auto 0 auto;
	padding-top: 75px;
	font-size: 50px;
	letter-spacing: 20px;
}

.recipe-description .recipe-divider {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 10px auto 0 auto;
}

.recipe-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.sub-description-recipe {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 35%;
	margin: 0 auto 0 auto;
	padding-bottom: 75px;
}

.sub-description-recipe ul {
	margin-top: 100px;

}

.sub-description-recipe ul span {
	color: #467fd7;
	border-bottom: 1px solid #467fd7;
}

.sub-description-recipe li {
	list-style: none;
	margin-top: 20px;
	font-weight: bold;
}

.recipe-project-detail {
	width: 100%;
	padding-bottom: 110px;
	background-color: #47b1e6;
}



