.train-container {
	width: 100%;
}

.train-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-train {
	width: 100%;
}

.introduction-train-project {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 90%;
	padding: 7px;
	border: 3px solid #ffc722;
	text-align: center;
}

.introduction-train-project p {
	color: #ffc722;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
}

.train-description {
	width: 100%;
	position: relative;
	background-color: white;
	text-align: center;
}

.train-description h2 {
	font-family: serif;
	margin: auto;
	padding-top: 75px;
	font-size: 50px;
	letter-spacing: 20px;
}

.train-description .train-divider {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 10px auto 0 auto;
}

.train-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.sub-description-train {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	padding-bottom: 75px;
}

.sub-description-train ul {
	margin-top: 100px;
	width: 50%;
}

.sub-description-train ul span {
	color: #ffc722;
	border-bottom: 1px solid #ffc722;
}

.sub-description-train li {
	list-style: none;
	margin-top: 20px;
	width: 60%;
	margin-left: 30px;
	padding-left: 30px;
	font-weight: bold;
}

.train-app-detail {
	width: 100%;
	background-color: #b47844;
	padding-bottom: 110px;
}