.upay-container {
	width: 100%;
}

.upay-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-upay {
	width: 100%;
	height: 724px;
}

.introduction-upay-project {
	position: absolute;
	top: 35%;
	left: 25%;
	width: 50%;
	padding: 7px;
	border: 3px solid #467fd7;
}

.introduction-upay-project p {
	color: #467fd7;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
}

.upay-description {
	width: 100%;
	position: relative;
}

.upay-description h2 {
	font-family: serif;
	margin: 75px auto 0 auto;
	font-size: 50px;
	letter-spacing: 20px;
}

.upay-description .upay-divider {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 10px auto 0 auto;
}

.upay-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.sub-description-upay {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto 75px auto;
}

.sub-description-upay ul {
	margin-top: 100px;
	width: 50%;
}

.sub-description-upay ul span {
	color: #467fd7;
	border-bottom: 1px solid #467fd7;
}

.sub-description-upay li {
	list-style: none;
	margin-top: 20px;
	width: 60%;
	margin-left: 30px;
	padding-left: 30px;
	font-weight: bold;
}

.upay-project-detail {
	width: 100%;
}

.upay-project-demo {
	width: 100%;
	height: auto;
	background-color: sandybrown;
}

.video-demo-upay {
	width: 70%;
	height: 500px;
	margin-top: 110px;
	box-shadow: 3px 7px 18px #88888894;
}

.upay-project-demo img {
	width: 70%;
	height: 500px;
	margin-top: 110px;
	box-shadow: 3px 7px 18px #88888894;;
}

.demo-personal-info {
	margin-bottom: 110px;
}

.upay-label-description {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 40%;
	margin-left: -10px;
}

.label-description-subscription {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 37%;
	margin-left: -28px;
}

.label-description-personal-info {
	transform: rotate(90deg);
	color: white;
	position: absolute;
	margin-top: 35%;
	margin-left: -59px;
}

.the-end-div {
	width: 100%;
	height: 300px;
	background: white;
	display: flex;
	justify-content: center;
}

.the-end-div span {
	font-size: 80px;
	letter-spacing: 60px;
	margin: 100px 0 0 63px;
}