.contact-footer {
	width: 200px;
	height: 31px;
	position: fixed;
	bottom: 12px;
	left: 0;
	display: flex;
	flex-direction: row;
}

.contact-linkedin-logo {
	width: 30px;
	height: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

.divider {
	position: relative;
	width: 1px;
	height: 14px;
	color: white;
	margin: 13px 10px;
}

.contact-email-logo {
	width: 36px;
	height: 40px;
}

.label-contact {
	margin-top: 15px;
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-family: "UniversLTStd",sans-serif;
}