.resume-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.resume-top-section {
	width: 100%;
	height: 645px;
	background-image: url("../../Assets/images/Resume-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.resume-introduction-div {
	margin: auto;
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.resume-top-section h1 {
	color: white;
	font-size: 40px;
	margin: 0;
}

.resume-div-smallText {
	width: 600px;
	color: white;
	font-style: italic;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.line-decoration-resume {
	display: block;
	height: 1px;
	border-bottom: 1px solid #ffffff;
	width: 18%;
	margin: 10px auto 10px auto;
	opacity: 0.5;
}

.button-download-CV {
	width: 160px;
	height: 60px;
	border: 3px solid #ffc722;
	display: flex;
	margin-top: 40px;
	color: #467fd7;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
}

.button-download-CV:hover {
	background-color: #178dd7;
}

.button-download-CV span {
	margin: 20px auto 0 auto;
}

.button-download-CV span:hover {
	color: black;
}

.skill-education-section {
	width: 100%;
}

.skill-education-section h2 {
	margin: 0;
	height: 45px;
	border-bottom: 3px solid #ffc722;
}

.skill-education-section p {
	text-align: left;
	font-weight: bold;
}

.resume-detail {
	width: 100%;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.skill {
	padding-top: 50px;
}

.education {
	height: 280px;
	padding-top: 70px;
}

.sub-skill-div {
	width: 21%;
	height: 450px;
}

.sub-skill-div ul {
	text-align: left;
}

.sub-education-div {
	width: 56%;
	height: 280px;
	text-align: left;
	padding-left: 63px;
}

.specific-info {
	font-style: italic;
	font-size: 14px;
}

.under-field-sub-div {
	margin-top: 130px;
}

.under-field-sub-education {
	margin-top: 50px;
}

@media only screen and (max-width: 700px) {
	.resume-introduction-div {
		width: 450px;
	}

	.line-decoration-resume {
		width: 15%;
	}

	.resume-div-smallText {
		width: 500px;
	}

	.resume-detail {
		flex-direction: column;
	}

	.skill h2 {
		width: 200px;
		margin-left: 50px;
	}

	.sub-skill-div {
		width: 100%;
		height: auto;
		margin-left: 50px;
	}

	.sub-skill-div br {
		display: none;
	}

	.under-field-sub-div {
		margin-top: 0;
	}

	.skill {
		height: auto;
	}

	.education {
		padding-top: 0;
		padding-bottom: 50px;
		height: auto;
	}

	.education h2 {
		width: 115px;
		height: 45px;
		margin: 30px 0 0 50px;
	}

	.sub-education-div {
		width: 100%;
		height: auto;
		padding-left: 0;
		margin-left: 50px;
	}

	.under-field-sub-education {
		margin-top: 20px;
	}

	.sub-skill-div li {
		margin: 10px 0;
	}
}

@media only screen and (max-width: 450px) {
	.resume-top-section {
		height: 450px;
	}

	.resume-introduction-div {
		width: 350px;
		padding-top: 130px;
	}

	.resume-introduction-div h1 {
		font-size: 28px;
	}

	.resume-div-smallText {
		width: 380px;
		font-size: 15px;
	}

	.line-decoration-resume {
		width: 8%;
	}

	.skill h2 {
		font-size: 22px;
		height: 30px;
		width: 180px;
		margin-left: 22px;
	}

	.education h2 {
		font-size: 22px;
		height: 30px;
		width: 105px;
		margin-left: 22px;
	}

	.sub-skill-div {
		margin-left: 22px;
	}

	.sub-skill-div li {
		font-size: 14px;
	}

	.skill-education-section p {
		font-size: 14px;
	}

	.sub-education-div {
		margin-left: 22px;
	}

	.specific-info {
		font-size: 13px;
	}

	.education-description {
		font-size: 14px;
	}
}
