.about-container {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}

.about-introduction-section{
	width: 100%;
	height: 640px;
	background-image: url("../../Assets/images/black-polygonal-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-attachment: fixed;
	background-position: center;
}

.introduction-div {
	margin: auto;
	padding-top: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
}

.line-decoration {
	display: block;
	height: 1px;
	border-bottom: 1px solid #ffffff;
	width: 23%;
	margin: 10px auto 10px auto;
	opacity: 0.5;
}

.greeting-label {
	width: 500px;
	color: white;
	font-size: 20px;
	font-style: italic;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.my-label {
	color: #ffc722;
	font-size: 50px;
	text-transform: uppercase;
}

.my-slogan {
	color: white;
	top: 380px;
	left: 30%;
	font-size: 20px;
}

.about-me-section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: #383838;
}

.brief-introduction-text {
	width: 70%;
	text-align: justify;
	color: white;
	font-size: 20px;
	line-height: 25px;
	font-family: "UniversLTStd",sans-serif;
}

.brief-introduction-text p {
	margin: 50px 50px 0 50px;
}

.profile-picture {
	width: 30%;
	height: auto;
	display: flex;
	justify-content: flex-end;
}

.profile-picture img {
	width: auto;
	height: 360px;
}

.highlight-word {
	color: #ffc722;
}

.about-my-personal-work {
	width: 100%;
	height: 520px;
	background-color: #737373;
	text-align: center;
	font-size: 20px;
	color: white;
}

.about-my-personal-work h2 {
	color: black;
	font-size: 40px;
	margin-top: 2px;
	padding-top: 29px;
	margin-bottom: 0;
}

.about-my-personal-work h2::after {
	content: '';
	display: block;
	height: 5px;
	border-bottom: 2px solid black;
	width: 14%;
	margin: 10px auto 10px auto;
	opacity: 0.5;
}

.project-show-container {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 800px) {
	.introduction-div {
		width: 0;
	}

	.introduction-div p {
		font-size: 2em;
		width: 450px;
		text-align: center;
	}

	.about-me-section {
		flex-direction: column;

	}

	.brief-introduction-text {
		margin: 0;
		width: 100%;
	}

	.brief-introduction-text p {
		margin: 50px;
	}

	.profile-picture {
		width: 100%;
		justify-content: center;
		padding-bottom: 50px;
	}
}

@media only screen and (max-width: 450px) {
	.about-introduction-section {
		height: 350px;
	}

	.introduction-div {
		padding-top: 140px;
	}

	.greeting-label {
		width: 300px;
		font-size: 16px;
	}

	.line-decoration {
		width: 18%;
	}

	.introduction-div p {
		font-size: 25px;
		width: 450px;
		text-align: center;
	}

	.brief-introduction-text {
		font-size: 17px;
	}

	.about-my-personal-work h2 {
		font-size: 30px;
	}

	.about-my-personal-work p {
		font-size: 17px;
	}
}


