.contact-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: black;
}

.profile-picture-div {
	width: 400px;
	height: 700px;
}

.picture-me {
	width: 600px;
	height: 700px;
	background: url(../../Assets/images/contactImage.jpg) center center;
	background-size: cover;
	margin: auto 0 auto 0;
	transition: 0.9s cubic-bezier(1, 0, 0, 2);
	clip-path: polygon(300px 20px, 0 574px, 602px 574px);
}
.picture-me:hover {
	clip-path: polygon(300px 100px, 0 350px, 550px 350px);
}

.contact-form {
	width: 460px;
	height: 560px;
	background-color: black;
	position: absolute;
	left: 20%;
	z-index: 1;
}

.contact-form-layer {
	width: 470px;
	position: relative;
	/*margin-top: 45px;*/
	margin: auto 0 auto 0;
	left: 20%;
	height: 562px;
	z-index: 0;
	transform: skew(2deg, 2deg);
	background: linear-gradient(#ffc722, #467fd7);
}

.contact-content {
	color: white;
	text-align: left;
	margin-left: 50px;
	margin-top: 70px;
}

.contact-content h1 {
	width: 190px;
	color: #ffc722;
	border-bottom: 2px solid #467fd7;
	height: 50px;
}

.contact-text {
	margin-top: 60px;
}

.contact-content p {
	font-size: 20px;
}

.text-decoration {
	font-size: 23px;
	font-style: normal;
	color: #467fd7;
}

.contact-content a {
	color: #ffc722;
}

.contact-content address {
	font-size: 20px;
}

.picture-container {
	width: 50%;
	display: flex;
	justify-content: center;
}

.card-container {
	position: relative;
	width: 50%;
	display: flex;
	margin: auto;
}

@media only screen and (max-width: 800px) {
	.contact-container {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-direction: column-reverse;
	}

	.picture-container {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.card-container {
		width: 100%;
		padding-top: 100px;
	}

	.contact-form {
		width: 420px;
		left: 8%;
	}

	.contact-form-layer {
		width: 420px;
		left: 8%;
	}

	.picture-me {
		clip-path: polygon(240px 20px, 0 457px, 486px 457px);
		height: 550px;
	}

	.picture-me:hover {
		clip-path: polygon(250px 80px, 0 350px, 500px 350px);
	}
}

@media only screen and (max-width: 450px) {
	.contact-container {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-direction: column-reverse;
	}

	.picture-container {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.card-container {
		width: 100%;
		padding-top: 100px;
	}

	.contact-form {
		width: 320px;
		height: 400px;
		left: 8%;
	}

	.contact-form-layer {
		width: 320px;
		height: 400px;
		left: 8%;
	}

	.contact-content {
		margin-left: 20px;
	}

	.contact-content h1 {
		font-size: 25px;
		width: 145px;
		height: 40px;
	}

	.contact-content address {
		font-size: 18px;
	}

	.contact-text {
		margin-top: 40px;
	}

	.contact-text p {
		font-size: 18px;
	}

	.text-decoration {
		font-size: 18px;
	}

	.picture-me {
		clip-path: polygon(190px 30px, 0 400px, 370px 400px);
		height: 480px;
	}

	.picture-me:hover {
		clip-path: polygon(200px 80px, 0 350px, 380px 350px);
	}
}

