.portfolio-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: black;
}

.yellow-border {
	border: 3px solid #ffc722;
}

.blue-border {
	border: 3px solid #467fd7;
}

.project-panel {
	width: 17%;
	height: 80%;
	margin-top: 2%;
	margin-left: 2%;
	position: relative;
	text-align: center;

}

.project-info-section {
	position: absolute;
	width: 100%;
	height: 50%;
}

.project-info-section.top {
	top: 0;
}

.project-info-section.bottom {
	bottom: 0;
}

.overlay {
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 50%;
	transition: .9s ease;
}

.overlay img {
	width: 100%;
	height: 100%;
	transition: transform .5s;
}

.overlay.top {
	top: 50%;
}

.overlay.bottom {
	bottom: 50%;
}

#first:hover .bottom {
	bottom: 0;
	height: 50%;
}

#second:hover .top {
	height: 50%;
	top: 0;
}

#third:hover .bottom {
	bottom: 0;
	height: 50%;
}

#fourth:hover .top {
	height: 50%;
	top: 0;
}

#fifth:hover .bottom {
	bottom: 0;
	height: 50%;
}

.project-link-section {
	position: absolute;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.project-link-section.top {
	top: 0;
}

.project-link-section.bottom {
	bottom: 0;
}

/*project description*/
.project-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.project-number {
	height: 30px;
	width: 30px;
	margin: 20px 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

.project-number.yellow {
	color: #ffc722;
	border-top: 3px solid #ffc722;
	border-bottom: 3px solid #ffc722;
}

.project-number.blue {
	color: #467fd7;
	border-top: 3px solid #467fd7;
	border-bottom: 3px solid #467fd7;
}

.project-name {
	color: white;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 70px;
}

.yellow-link {
	color: #ffc722;
}

.blue-link {
	color: #467fd7;
}

.see-more a {
	padding-top: 10px;
	padding-left: 15px;
	text-decoration: none;
}

.see-more {
	margin: 30px auto 0 auto;
	height: 40px;
	width: 100px;
	font-size: 15px;
	font-weight: bold;
	background-color: black;
	display: flex;
}

.see-more:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.technology-used-label {
	margin: 40px auto 0 auto;
	color: white;
	width: 130px;
	font-size: 15px;
	font-style: italic;
}
.project-controller {
	display: none;
}
 /*For desktop:*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 700px) {
	#first {
		width: 600px;
		/*margin: 30px auto 0 auto;*/
		margin: auto 60px auto 60px;
		height: 500px;
	}

	#second {
		/*display: none;*/
		width: 600px;
		/*margin: 30px auto 0 auto;*/
		margin: auto 60px auto 60px;
		height: 500px;
	}

	#third {
		/*display: none;*/
		width: 600px;
		/*margin: 30px auto 0 auto;*/
		margin: auto 60px auto 60px;
		height: 500px;
	}

	#fourth {
		/*display: none;*/
		width: 600px;
		/*margin: 30px auto 0 auto;*/
		margin: auto 60px auto 60px;
		height: 500px;
	}

	#fifth {
		/*display: none;*/
		width: 600px;
		/*margin: 30px auto 0 auto;*/
		margin: auto 60px auto 60px;
		height: 500px;
	}

	.portfolio-container {
		/*display: flex;*/
		/*overflow: auto;*/
	}

	.project-controller {
		background-color: rgba(211, 211, 211, 0.2);
		width: 30px;
		display: flex;
		margin: 8% 0 25% 0;
	}

	.project-controller #back-arrow {
		width: 30px;
	}

	.project-controller:hover {
		background-color: rgba(211, 211, 211, 0.42);
		cursor: pointer;
	}

	.project-controller #forward-arrow {
		width: 30px;
		height: 30px;
		margin: auto;
	}
}

@media only screen and (max-height: 650px) {
	#first {
		width: 600px;
		margin: 30px 60px 0 60px;
		height: 430px;
	}

	#second {
		width: 600px;
		margin: 30px 60px 0 60px;
		height: 430px;
	}

	#third {
		width: 600px;
		margin: 30px 60px 0 60px;
		height: 430px;
	}

	#fourth {
		width: 600px;
		margin: 30px 60px 0 60px;
		height: 430px;
	}

	#fifth {
		width: 600px;
		margin: 30px 60px 0 60px;
		height: 430px;
	}

	.project-name {
		margin-top: 20px;
	}
}