.recipe-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.recipe-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-recipe {
	width: 100%;
}

.introduction-recipe-project {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 90%;
	padding: 7px;
	border: 3px solid #467fd7;
}

.introduction-recipe-project p {
	color: #467fd7;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
	text-align: center;
}

.recipe-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.recipe-project-detail {
	width: 100%;
	padding-bottom: 110px;
	background-color: #47b1e6;
}

@media only screen and (max-width: 700px) {
	.introduction-recipe-project {
		top: 26%;
		left: 10%;
		width: 378px;
	}

	.introduction-recipe-project p {
		font-size: 47px;
		letter-spacing: 39px;
	}
}

@media only screen and (max-width: 450px) {
	.introduction-recipe-project {
		top: 20%;
		left: 6%;
		width: 311px;
	}

	.introduction-recipe-project p {
		font-size: 40px;
		letter-spacing: 30px;
	}
}



