.upay-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.upay-project-top-section {
	width: 100%;
	position: relative;
}

.video-bg-upay {
	width: 100%;
}

.introduction-upay-project {
	position: absolute;
	top: 35%;
	left: 25%;
	width: 50%;
	padding: 7px;
	border: 3px solid #467fd7;
}

.introduction-upay-project p {
	color: #467fd7;
	font-size: 80px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	margin: 0;
	letter-spacing: 50px;
	text-align: center;
}

.upay-description {
	width: 100%;
	position: relative;
	background-color: white;
	text-align: center;
}

.upay-description h2 {
	font-family: serif;
	margin: auto;
	padding-top: 75px;
	font-size: 50px;
	letter-spacing: 20px;
}

.upay-description .upay-divider {
	width: 100px;
	height: 2px;
	background-color: black;
	margin: 10px auto 0 auto;
}

.upay-description p {
	width: 60%;
	margin: 20px auto 0 auto;
	line-height: 30px;
}

.sub-description-upay {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	padding-bottom: 75px;
}

.sub-description-upay ul {
	margin-top: 100px;
	width: 50%;
}

.sub-description-upay ul span {
	color: #467fd7;
	border-bottom: 1px solid #467fd7;
}

.sub-description-upay li {
	list-style: none;
	margin-top: 20px;
	width: 60%;
	margin-left: 30px;
	padding-left: 30px;
	font-weight: bold;
}

.upay-project-detail {
	width: 100%;
	background-color: #319b8c;
	padding-bottom: 110px;
}

.upay-project-demo-video {
	width: 70%;
	height: auto;
	position: relative;
	margin: auto;
}

.video-demo-upay {
	width: 100%;
	margin-top: 110px;
	box-shadow: 3px 7px 18px #88888894;
}

