.App {
  text-align: center;
}

.wrapper {
  background-color: black;
  height: 100%;
  width: 100%;
}

.navigation-bar {
  height: 35px;
  width: 550px;
  color: white;
  font-size: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid grey;
}

.container {
  height: auto;
  width: 100%;
}

.triangle-one {
  width: 0;
  height: 0;
  transform: rotate(33deg);
  top: -68px;
  left: -187px;
  position: absolute;
  border-left   : 165px solid transparent;
  border-right  : 300px solid transparent;
  border-bottom : 170px solid rgba(128, 128, 128, 0.35);
}

.triangle-one::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  left: -157px;
  border-left: 157px solid transparent;
  border-right: 293px solid transparent;
  border-bottom: 163px solid black;
}

.triangle-two {
  width: 0;
  height: 0;
  transform: rotate(-141deg);
  top: 268px;
  left: -392px;
  position: absolute;
  border-left: 139px solid transparent;
  border-right: 181px solid transparent;
  border-bottom: 134px solid rgba(128, 128, 128, 0.35);
}

.triangle-two::before {
  content: "";
  width: 0;
  height: 0;
  top: 4px;
  left: -130px;
  position: absolute;
  border-left: 129px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 126px solid black;
}

.triangle-three {
  width: 0;
  height: 0;
  transform: rotate(9deg);
  top: 272px;
  left: 227px;
  position: absolute;
  border-left: 165px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 170px solid rgba(128, 128, 128, 0.35);
}

.triangle-three::before {
  content: "";
  width: 0;
  height: 0;
  top: 3px;
  left: -163px;
  position: absolute;
  border-left: 163px solid transparent;
  border-right: 287px solid transparent;
  border-bottom: 164px solid black;
}

.triangle-four {
  width: 0;
  height: 0;
  transform: rotate(-76deg);
  top: -38px;
  left: 577px;
  position: absolute;
  border-left: 49px solid transparent;
  border-right: 191px solid transparent;
  border-bottom: 99px solid rgba(128, 128, 128, 0.35);
}

.triangle-four::before {
  content: "";
  width: 0;
  height: 0;
  top: 4px;
  left: -44px;
  position: absolute;
  border-left: 45px solid transparent;
  border-right: 177px solid transparent;
  border-bottom: 92px solid black;
}

.line-one {
  border: 1px solid #0cd0f2;
  width: 778px;
  transform: rotate(-34deg);
  position: absolute;
  top: 191px;
  left: -131px;
}

.line-two {
  border: 1px solid #ffc722;
  width: 644px;
  transform: rotate(-55deg);
  position: absolute;
  top: 191px;
  left: -107px;
}

.line-three {
  border: 1px solid #467fd7;
  width: 1103px;
  transform: rotate(13deg);
  position: absolute;
  top: 186px;
  left: -307px;
}

.middle-shape {
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 141px auto 0 auto;
  position: relative;
}

.diamond-shape {
  width: 385px;
  height: 385px;
  background-color: black;
  position: absolute;
  border: 5px solid #ffc722;
  left: 50%;
  margin-left: -192px;
}

.diamond-shape::after {
  content: "";
  width: 327px;
  height: 327px;
  background-color: black;
  position: absolute;
  top: 25px;
  left: 25px;
  border: 3px solid #ffc722;
}

.square-shape {
  width: 385px;
  height: 385px;
  background-color: black;
  position: absolute;
  /*margin: auto;*/
  border: 5px solid #177DEB;
  left: 50%;
  margin-left: -192px;
}

.left-panel {
  width: 390px;
  height: 500px;
}

#home-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 170px;
  left: 124px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#skills-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 350px;
  left: 50px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#projects-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 520px;
  left: 124px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.right-panel {
  width: 390px;
  height: 500px;
}

#gallery-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 170px;
  right: 124px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#contact-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 350px;
  right: 50px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#resume-section {
  width: 174px;
  height: 56px;
  background-color: rgb(170, 182, 248);
  position: absolute;
  top: 520px;
  right: 124px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.navigation-name {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
}

/*rotate diamond shape*/
.rotate-first {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.rotate-second {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.rotate-third {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.rotate-fourth {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}